.selected {
  background-color: #b0bed9;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* taken from datatables.css to make processing indicator display correctly */
.dataTables_processing {
  position: relative;
  top: 80px;
  left: 50%;
  width: 100%;
  height: 40px;
  line-height: 0px;
  margin-left: -50%;
  /*margin-top: -20px;*/
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  z-index: 1;
  /*background-color: white*/;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(235, 235, 235, 0)), color-stop(25%, rgba(235, 235, 235, 0.9)), color-stop(75%, rgba(235, 235, 235, 0.9)), color-stop(100%, rgba(235, 235, 235, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(235, 235, 235, 0) 0%, rgba(235, 235, 235, 0.9) 25%, rgba(235, 235, 235, 0.9) 75%, rgba(235, 235, 235, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, rgba(235, 235, 235, 0) 0%, rgba(235, 235, 235, 0.9) 25%, rgba(235, 235, 235, 0.9) 75%, rgba(235, 235, 235, 0) 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(left, rgba(235, 235, 235, 0) 0%, rgba(235, 235, 235, 0.9) 25%, rgba(235, 235, 235, 0.9) 75%, rgba(235, 235, 235, 0) 100%);
  /* IE10+ */
  background: -o-linear-gradient(left, rgba(235, 235, 235, 0) 0%, rgba(235, 235, 235, 0.9) 25%, rgba(235, 235, 235, 0.9) 75%, rgba(235, 235, 235, 0) 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to right, rgba(235, 235, 235, 0) 0%, rgba(235, 235, 235, 0.9) 25%, rgba(235, 235, 235, 0.9) 75%, rgba(235, 235, 235, 0) 100%);
  /* W3C */

  color: #333333;
}

th.sorting, th.sorting_asc, th.sorting_desc {
	cursor: pointer;
}