{% extends "main.html" %}
{% block content %}
  <p>Thank you so much for visiting MyADP, I really hope you find it useful. This was originally a small app I hacked together for my own use, and has since grown into a slightly larger app I hacked together for everyone's use.</p>

  <p>Because I wanted to get this site to a point where it could be useful to people as quickly as possible, it leaves a lot to be desired. The user interface is nothing to brag about, potential bugs are lurking everywhere, and there are plenty of features missing.</p>
  <p>There are so many improvements I can make to the site, but I won't know what to prioritize unless I hear from you, so if you have any feedback at all, I'd love to hear it. Feel free to reach out to me on Twitter at <a href="https://twitter.com/m_plis">@m_plis</a></p>
{% endblock %}