{% extends "main.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to MyADP!</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Create your own custom ADP reports</h2>
      <p>Select "Custom" from the dropdown above, and then input the year and league ID of the MFL leagues you want to use to generate your ADP report. Then, you'll be taken to a page with a unique URL that you can bookmark and return to whenever you want, without having to input your league data again.</p>
    </div>
    <div class="col-md-6">
      <h2>Filter by name, position, or team</h2>
      <p>Use the search box and dropdowns at the top of each column to view only the players you want to view. You can even find all
      rookies by selecting "FA" from the team filter.</p>
    </div>
  </div>
{% endblock %}