{% extends "main.html" %}
{% block navbar %}{% endblock %}
{% block container %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">MyADP</h1>
        <p class="lead">Create average draft position reports tailored to your MFL leagues</p>
        <p class="lead">
          <a href="/custom" class="btn btn-lg btn-primary">Get started</a>
          <a href="/report/sample" class="btn btn-lg btn-default">See example</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}