{% extends "table.html" %}
{% block above_content %}
<ul class="list-inline">
  <li><a href="{% url 'scottfish' %}">All Conferences</a></li>
  <li><a href="{% url 'scottfish' 'zoolander' %}">Zoolander</a></li>
  <li><a href="{% url 'scottfish' 'step-brothers' %}">Step Brothers</a></li>
  <li><a href="{% url 'scottfish' 'anchorman' %}">Anchorman</a></li>
  <li><a href="{% url 'scottfish' 'old-school' %}">Old School</a></li>
  <li><a href="{% url 'scottfish' 'talladega-nights' %}">Talladega Nights</a></li>
  <li><a href="{% url 'scottfish' 'snl' %}">SNL Ferrell</a></li>
</ul>
{% endblock %}