<html>
  <head>
    <title>Dynasty Mocks</title>
  </head>
  <style type="text/css">
    td {
      text-align: center;
    }
    div.container {
      width: 80%;
    }
    .dataTables_filter {
      float: left !important; 
    }
  </style>
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
  <body>
    <h1>{{ title }}</h1>
    <ul>
      <li><a href="/dynastyffonly">/r/DynastyFF</a></li>
      <li><a href="/dynastyff2qb">/r/DynastyFF 2 QB</a></li>
    </ul>
    <div class="container">
      <table id="data" class="display compact">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Position</th>
            <th>Team</th>
            <th>ADP</th>
            <th>Standard Deviation</th>
            {% for i in mockNums %}
              <th><a href={{ urls|get_item:i }}>Mock #{{ i }}</a></th>
            {% endfor %}
          </tr>
        </thead>
          {% for pick in picks|dictsort:"adp" %}
            <tr>
              <td></td>
              <td>{{ pick.player }}</td>
              <td>{{ pick.position }}</td>
              <td>{{ pick.team }}</td>
              <td>{{ pick.adp|floatformat:2 }}</td>
              <td>{{ pick.std|floatformat:2 }}</td>
              {% for i in mockNums %}
                <td>{{ pick|get_item:i }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        <tbody>

        </tbody>
      </table>
    </div>
    <script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <!--<script src="/static/js/jquery.dataTables.min.js" type="text/javascript"></script> -->
    <script src="/static/js/jquery.dataTables.debug.js" type="text/javascript"></script>
    <script src="http://cdn.datatables.net/tabletools/2.2.3/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script>

      $(document).ready(function() {

        $('#data thead th').eq(1).each( function () {
          var title = $('#data thead th').eq( $(this).index() ).text();
          $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        var t = $('#data').DataTable({
          "order": [[ 4, "asc" ]],
          "ordering": false,
          "paging": false,
          "dom": 'T<"clear">lrtip',
          "tableTools": {
              "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
              "sRowSelect": "os",
              // if sSelectedClass is changed, must also change selected class in _fnFilterColumn in datatables js file
              "sSelectedClass": "selected",
              "aButtons": []
          },
          initComplete: function () {
            var api = this.api();
            $([2, 3]).each(function(_, i) {
              var column = api.column(i);
              var select = $('<select><option value=""></option></select>')
                .appendTo( $(column.header()).empty() )
                .on('change', function() {
                  var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val() 
                  );

                  column
                    .search( val ? '^'+val+'$' : '', true, false )
                    .draw();
                });
              column.data().unique().sort().each( function ( d, j ) {
                  select.append( '<option value="'+d+'">'+d+'</option>' )
              });
            });
        }
        });

        t.columns().eq( 0 ).each( function ( colIdx ) {
            $( 'input', t.column( colIdx ).header() ).on( 'keyup change', function () {
                t
                    .column( colIdx )
                    .search( this.value )
                    .draw();
            } );
        } );

        t.on('order.dt search.dt', function() {
          t.column(0, {search:'applied', order:'applied'}).nodes().each(function(cell, i) {
            cell.innerHTML = i+1;
          });
        }).draw();
      });
    </script>
  </body>
</html>
