{% extends "main.html" %}
{% block content %}
<table id="data" class="table table-condensed display">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>ADP</th>
      <th>Standard Deviation</th>
      {% for i in num_mocks|get_range %}
        <th class="league-header"><a href="{{ urls|get_item:i }}">League #{{ i }}</a></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
</table>
<script type="text/javascript">
  var apiData = JSON.parse("{{ api_data|escapejs }}")
</script>
{% endblock %}

