{% extends "main.html" %}
{% block content %}
<div id="display-options">
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="playerFilter">Search Players</label>
      <input id="playerFilter" class="form-control">
    </div>
    <!-- https://github.com/davidstutz/bootstrap-multiselect -->
    <div class="form-group col-sm-4">
      <label for="positionFilter">Position</label>
      <select id="positionFilter" class="form-control">
        <option></option>
      </select>
    </div>
    <div class="form-group col-sm-4">
      <label for="teamFilter">Team</label>
      <select id="teamFilter" class="form-control">
        <option></option>
      </select>
    </div>
  </div>
  <div class="row">
  <button class="btn btn-info pull-right csv-export">Export to CSV</button>
  {% if is_editable %}
    <button class='btn btn-primary pull-right btn-update' type="submit">Edit this report</button>
  {% endif %}
  </div>
</div>
<table id="data" class="table table-condensed table-striped display">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>ADP</th>
      <th>Standard Deviation</th>
      {% for i in num_mocks|get_range %}
        <th class="league-header">
        <a href="{{ urls|get_item:i }}">
          {% if names|get_item:i != '' %}
            {{ names|get_item:i }}
          {% else %}
            Draft #{{ i }}
          {% endif %}
        </a></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
</table>
<script type="text/javascript">
  var apiData = JSON.parse("{{ api_data|escapejs }}") // used in main.js
  $(function() {
    $(".btn-update").click(function() {
      window.location.href = ('/custom' + window.location.search)
    });
  });
</script>
{% endblock %}

